html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
input {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Gotham A", "Gotham B", "Gotham", "Open Sans", sans-serif;
  font-size: 16px;
}

strong {
  font-weight: bold;
}

button,
input {
  border: none;
  background: none;
}

a[href] {
  text-decoration: none;
  color: inherit;
}
